services:
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CADDY_INGRESS_NETWORKS=platform-net
      - CADDY_EMAIL=${ACME_EMAIL}
    networks:
      - platform-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    labels:
      - "caddy.email=${ACME_EMAIL}"
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  caddy_data:


networks:
  platform-net:
    external: true
